.container {
      padding: 20px; /* Add some padding for better look */
      max-width: 900px; /* Set a maximum width for responsive design */
      margin: 0 auto; /* Center the container horizontally */
      
      
    }

    .card {
      background-color: #0463FA; /* Light gray background */
      border-radius: 10px; /* Add rounded corners */
      margin-bottom: 20px; /* Add space between cards */
      display: flex;  
          /* Arrange content side-by-side */ 
     /* position: relative; /* Needed for hover effect */
         /* display: grid;
    grid-template-columns: 1fr 1fr;
         grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Adjust width as needed */
   /* gap: 20px; /* Add gap between columns */
    }

    .card-image {
      width: 40%; /* Set width for image section */
      padding: 15px; /* Add some padding inside image section */
    
      
    }

    .card-image img {
      width: 100%; /* Make image fill the image section width */
      height: 100%; /* Allow image to retain its aspect ratio */
      border-radius: 10px; /* Apply rounded corners to images */
      transition: transform 0.3s ease-in-out; /* Smooth transition effect */
    }

    .card-image:hover img {
      width:300px;
      height: 300px;
      transform: scale(1.2); /* Increase image size on hover */
    }

    .card-body {
      width: 50%; /* Set width for text section */
      padding: 15px; /* Add some padding inside text section */
      
    }

    .card-title {
      margin-bottom: 10px; /* Add space between title and text */
    }

    .card-text {
      text-align: justify; /* Justify text for better readability */
      margin-bottom: 5px; /* Add some space between text and small text */
    }

    .text-body-secondary {
      font-size: 0.8rem; /* Set font size for small text */
      color: #888; /* Set color for small text */
    }
a{
  text-decoration: none;
}

a:link {
  color: #000000;
}

a:visited {
  color: #000000;
}

a:hover {
  color: #36d3a2;
}

h3{
  color: hsl(0, 97%, 50%);
}

